<a href="https://colab.research.google.com/github/VivekMuraleedharanGit/Notebooks/blob/master/Data_analysis_Police_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Police data set**

data set contains details of police checkpost

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Udemy bootcamp/3. Police Data.csv')
data.head()

   stop_date stop_time  ...  stop_duration drugs_related_stop
0   1/2/2005      1:55  ...       0-15 Min              False
1  1/18/2005      8:15  ...       0-15 Min              False
2  1/23/2005     23:15  ...       0-15 Min              False
3  2/20/2005     17:15  ...      16-30 Min              False
4  3/14/2005     10:00  ...       0-15 Min              False

[5 rows x 15 columns]

In [3]:
data.shape

(65535, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [6]:
data.drop(columns='country_name',inplace=True)

In [7]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

In [8]:
data.driver_gender.value_counts()

M    45164
F    16310
Name: driver_gender, dtype: int64

Most of the gender values are M so will impute the null values with that

In [9]:
data['driver_gender'].fillna('M',inplace=True)

In [10]:
data.driver_gender.isnull().sum()

0

In [14]:
data.driver_age_raw.value_counts()

1986.0    2702
1987.0    2645
1985.0    2630
1988.0    2588
1983.0    2339
          ...
2001.0       1
2000.0       1
1998.0       1
8801.0       1
1918.0       1
Name: driver_age_raw, Length: 93, dtype: int64

In [16]:
#null values in the driver_race
data['driver_race'].value_counts()

White       45747
Black        8267
Hispanic     5611
Asian        1639
Other         211
Name: driver_race, dtype: int64

Most of the race are White so will impute the null values with White

In [17]:
data['driver_race'].fillna('White',inplace=True)

In [19]:
#violation raw 
data.violation_raw.value_counts()

Speeding                            37204
Other Traffic Violation             11926
Equipment/Inspection Violation       6516
Special Detail/Directed Patrol       2383
Registration Violation               2243
Call for Service                      793
Violation of City/Town Ordinance      170
Motorist Assist/Courtesy              138
APB                                    51
Suspicious Person                      38
Warrant                                10
Seatbelt Violation                      3
Name: violation_raw, dtype: int64

In [20]:
#most of the violation raw contains value speeding 
data['violation_raw'].fillna('Speeding',inplace=True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       65535 non-null  object
 3   driver_age_raw      61481 non-null  float64
 4   driver_age          61228 non-null  float64
 5   driver_race         65535 non-null  object
 6   violation_raw       65535 non-null  object
 7   violation           61475 non-null  object
 8   search_conducted    65535 non-null  bool
 9   search_type         2479 non-null   object
 10  stop_outcome        61475 non-null  object
 11  is_arrested         61475 non-null  object
 12  stop_duration       61475 non-null  object
 13  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 6.1+ MB

In [25]:
data.drop(columns='driver_age_raw',axis=1,inplace=True)

In [29]:
data.driver_age.fillna(data.driver_age.mean(),inplace=True)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       65535 non-null  object
 3   driver_age          65535 non-null  float64
 4   driver_race         65535 non-null  object
 5   violation_raw       65535 non-null  object
 6   violation           61475 non-null  object
 7   search_conducted    65535 non-null  bool
 8   search_type         2479 non-null   object
 9   stop_outcome        61475 non-null  object
 10  is_arrested         61475 non-null  object
 11  stop_duration       61475 non-null  object
 12  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(1), object(10)
memory usage: 5.6+ MB

In [31]:
#violation
data.violation.value_counts()

Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Seat belt                  3
Name: violation, dtype: int64

In [33]:
data.violation.fillna('Speeding',inplace=True)

In [34]:
#search type
data.search_type.value_counts()

Incident to Arrest                                          1074
Probable Cause                                               579
Inventory                                                    173
Reasonable Suspicion                                         149
Protective Frisk                                             126
Incident to Arrest,Inventory                                 104
Incident to Arrest,Probable Cause                             79
Probable Cause,Reasonable Suspicion                           38
Incident to Arrest,Protective Frisk                           31
Incident to Arrest,Inventory,Probable Cause                   26
Probable Cause,Protective Frisk                               23
Inventory,Probable Cause                                      14
Incident to Arrest,Inventory,Protective Frisk                 11
Inventory,Protective Frisk                                    11
Protective Frisk,Reasonable Suspicion                         10
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Reasonable Suspicion                        8
Inventory,Reasonable Suspicion                                 4
Incident to Arrest,Probable Cause,Reasonable Suspicion         3
Inventory,Probable Cause,Protective Frisk                      2
Incident to Arrest,Inventory,Reasonable Suspicion              2
Inventory,Probable Cause,Reasonable Suspicion                  1
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Name: search_type, dtype: int64

In [37]:
data.drop('search_type',axis=1,inplace=True)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       65535 non-null  object
 3   driver_age          65535 non-null  float64
 4   driver_race         65535 non-null  object
 5   violation_raw       65535 non-null  object
 6   violation           65535 non-null  object
 7   search_conducted    65535 non-null  bool
 8   stop_outcome        61475 non-null  object
 9   is_arrested         61475 non-null  object
 10  stop_duration       61475 non-null  object
 11  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(1), object(9)
memory usage: 5.1+ MB

In [40]:
#Stop outcome
data.stop_outcome.value_counts()

Citation            56564
Arrest Driver        2009
Warning              1889
N/D                   423
No Action             339
Arrest Passenger      251
Name: stop_outcome, dtype: int64

In [41]:
data.stop_outcome.fillna('Citation',inplace=True)

In [42]:
#is arrested
data.is_arrested.value_counts()

False    59215
True      2260
Name: is_arrested, dtype: int64

In [44]:
data.is_arrested.fillna('False',inplace=True)

In [45]:
#stop_duration
data.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [46]:
data.stop_duration.isnull().sum()

4060

In [47]:
data.stop_duration.fillna('0-15 Min',inplace=True)

In [48]:
data.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

All the null values are imputed accordningly now we will start analysis

In [49]:
#For speeding were Men or Woman arrested more

data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 12 columns]

In [52]:
data[(data['violation']=='Speeding')&(data['driver_gender']=='M')].count()

stop_date             29578
stop_time             29578
driver_gender         29578
driver_age            29578
driver_race           29578
violation_raw         29578
violation             29578
search_conducted      29578
stop_outcome          29578
is_arrested           29578
stop_duration         29578
drugs_related_stop    29578
dtype: int64

In [53]:

data[(data['violation']=='Speeding')&(data['driver_gender']=='F')].count()

stop_date             11686
stop_time             11686
driver_gender         11686
driver_age            11686
driver_race           11686
violation_raw         11686
violation             11686
search_conducted      11686
stop_outcome          11686
is_arrested           11686
stop_duration         11686
drugs_related_stop    11686
dtype: int64

In [60]:
#Males were arrested more for Speeding

data[data['violation']=="Speeding"].driver_gender.value_counts()

M    29578
F    11686
Name: driver_gender, dtype: int64

In [55]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 12 columns]

Search conducted have any effects on gender

In [61]:
data.groupby('search_conducted').driver_gender.value_counts()

search_conducted  driver_gender
False             M                47112
                  F                15944
True              M                 2113
                  F                  366
Name: driver_gender, dtype: int64

In [62]:
#Males tends to have more search conducted as compared with females

In [73]:
data.head()

   stop_date stop_time  ... drugs_related_stop      duration
0   1/2/2005      1:55  ...              False   [0-15, Min]
1  1/18/2005      8:15  ...              False   [0-15, Min]
2  1/23/2005     23:15  ...              False   [0-15, Min]
3  2/20/2005     17:15  ...              False  [16-30, Min]
4  3/14/2005     10:00  ...              False   [0-15, Min]

[5 rows x 13 columns]

In [74]:
data.drop('duration',axis=1,inplace=True)

Mean stop duration time

In [75]:
data.stop_duration.value_counts()

0-15 Min     51439
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [76]:
data['stop_duration']= data.stop_duration.map({'0-15 Min':7.5,'16-30 Min':24,'30+ Min ':45})

In [77]:
data.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...           7.5               False
1  1/18/2005      8:15  ...           7.5               False
2  1/23/2005     23:15  ...           7.5               False
3  2/20/2005     17:15  ...          24.0               False
4  3/14/2005     10:00  ...           7.5               False

[5 rows x 12 columns]

In [79]:
data.stop_duration.mean()

10.503673255203779

In [80]:
#Compare the age distribution in each violation
data.groupby('violation').driver_age.describe()

                       count       mean        std  ...   50%   75%   max
violation                                           ...
Equipment             6516.0  31.686363  11.373176  ...  28.0  39.0  81.0
Moving violation     11926.0  36.725595  13.231582  ...  35.0  46.0  86.0
Other                 3583.0  40.178563  12.608331  ...  40.0  49.5  86.0
Registration/plates   2243.0  32.658692  11.143450  ...  30.0  40.0  74.0
Seat belt                3.0  30.333333  10.214369  ...  26.0  34.0  42.0
Speeding             41264.0  33.350903  11.968949  ...  32.0  40.0  88.0

[6 rows x 8 columns]